*{
    margin:0;
    padding: 0;
}

body{
    background:black;
}
.app{
    background: linear-gradient(135deg,rgba(20, 151, 212, 0.7),
    rgba(14, 174, 91, 0.3));
    width: 60%;
    max-width: 470px;
    margin: 100px auto 0;
    border-radius:10px;
    padding:20px 30px;
}
.app form{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.app form input{
    padding: 10px 12px;
    flex: 1;
    border: none;
    outline: none;
    border-radius: 20px;
}
.app form button{
    padding: 10px;
    border-radius:30px;
    border: none;
    outline: none;
    margin-left: 10px;
}
.weather{text-align: center;
    color: white;
    display: none;
}
.weather img{
    width:50px;
}
.weather h2{
      font-size:3rem;
      margin-bottom:3px;
}
.weather h6{
    font-size:15px;
    margin-bottom:5px;
}
.details{
    display: flex;
    align-items:center;
    justify-content: space-between;
    color:white;
    padding-top:25px;
}
.row{
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.row .col{
    margin-left: 10px;
    text-align: left;
}
.row i{
    color: rgb(228, 214, 214);
}
.col p{
    font-size:12px;
}
.error{margin-left:10px;
    margin-top:8px;
    color:red;
    font-weight:bold;
    display: none;
}


/* @media screen and(max-width:450px){
    .app{width: 380px;
    }
} */